body{
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    height: auto;
    background-color: greenyellow;
    margin: 0px;
}

section {
margin: 0px;
height: auto;
font-size: 22px;
display: flex;
flex-direction: column;
align-items: center;
}

.imagem {
    border-radius: 100px;
    margin-top: 30px;
    width: 200px;
}

aside div h1 {
    text-align: center;
}

footer {
    background-color: black;
    display: flex;
    padding-right: 10px;
    justify-content: end;
    align-items: center;
    height: 30px;
    
}

a{
    color: cornsilk;
}
a:hover {
    color: rgb(53, 53, 53);
}

